### Part 1

Determine which games would have been possible if the bag had been loaded with only 12 red cubes, 13 green cubes, and 14 blue cubes. What is the sum of the IDs of those games?

In [1]:
# import statements
import numpy as np
import pandas as pd

In [ ]:
# format of each game record
# Game #: # color, # color; # color, # color, # color

# each line begins with "Game #:" --> care about #, as this is the game ID
# after the : follows a semicolon-separated list of pulls - different number of pulls per game
# each pull consists of a comma-separated list of format '# color' with up to three entries

# the format is always consistent, the order is not

In [2]:
# function to pull digits from a string
def digits_only(input_str):
    output_str = ''
    
    # loop over the entire input string
    for i in range(0, len(input_str)):
        if(input_str[i] in '0123456789'):
            # build the output string
            output_str += input_str[i]
            
    # return string containing only digits
    return output_str

In [3]:
# function to pull out game ID
def getID(input_arr):
    IDs = []
    for i in range(0, len(input_arr)):
        input_str = input_arr[i]
        result = input_str.split(':')
        IDs.append(digits_only(result[0]))
        #print(IDs[i])
    return IDs

In [4]:
# function to pull out first cube pull
def getFirstPull(input_arr):
    pulls = []
    for i in range(0, len(input_arr)):
        input_str = input_arr[i]
        result = input_str.split(':')
        pulls.append(result[1])
        #print(pulls[i])
    return pulls

In [ ]:
# function to pull out number of cubes of specifed color shown at a time
# return array of numbers for each pull
def numColors(color):
    #

In [ ]:
# function to check if game possible for given color and limit
def isPossible(color, limit):
    # pull out the number of cubes of specified color shown at a time
    # compare each number to the given limit (total number of cubes of that color in the bag)

In [5]:
rec_pd = pd.read_csv('input', sep=';', engine='python', header=None)
#rec_pd

,0,1,2,3,4,5
0,"Game 1: 1 green, 4 blue","1 blue, 2 green, 1 red","1 red, 1 green, 2 blue","1 green, 1 red",1 green,"1 green, 1 blue, 1 red"
1,"Game 2: 2 blue, 2 red, 6 green","1 red, 6 green, 7 blue","10 green, 8 blue, 1 red","2 green, 18 blue, 2 red","14 blue, 3 green, 1 red","8 green, 1 red, 9 blue"
2,"Game 3: 6 green, 5 blue, 9 red","4 blue, 1 green, 13 red","9 green, 14 red, 1 blue",None,None,None
3,"Game 4: 14 green, 3 blue, 16 red",20 red,"4 green, 2 red, 1 blue","10 blue, 11 green, 18 red","3 red, 3 blue, 6 green","2 green, 18 red, 9 blue"
4,"Game 5: 5 green, 4 blue","1 red, 3 blue, 2 green","4 green, 2 red, 15 blue","11 blue, 8 green, 4 red","4 red, 3 green","4 red, 3 green, 7 blue"
...,...,...,...,...,...,...
95,"Game 96: 2 blue, 1 red, 6 green","7 blue, 8 green","1 red, 7 green","2 green, 14 blue, 1 red","3 blue, 1 red, 7 green","4 blue, 11 green"
96,"Game 97: 2 red, 9 blue, 8 green","3 green, 5 blue","6 green, 1 red, 9 blue","2 red, 13 green, 1 blue","2 green, 2 red, 2 blue",None
97,"Game 98: 2 blue, 1 green, 1 red","4 blue, 5 red, 1 green","4 blue, 3 red, 2 green",None,None,None
98,"Game 99: 17 red, 2 blue, 4 green","4 green, 8 red, 6 blue",5 red,None,None,None
99,"Game 100: 6 red, 4 green","3 red, 2 blue, 9 green","1 blue, 5 green, 14 red","1 blue, 2 red, 2 green","9 red, 1 blue, 14 green","2 blue, 11 green, 8 red"

In [18]:
rec_IDs = getID(rec_pd[0].values)
rec_first = getFirstPull(rec_pd[0].values)

#rec_pd.insert(1, 'IDs', rec_IDs)
#rec_pd.insert(6, '6', rec_first)

#rec_pd

,0,IDs,1,2,3,4,6,5
0,"Game 1: 1 green, 4 blue",1,"1 blue, 2 green, 1 red","1 red, 1 green, 2 blue","1 green, 1 red",1 green,"1 green, 4 blue","1 green, 1 blue, 1 red"
1,"Game 2: 2 blue, 2 red, 6 green",2,"1 red, 6 green, 7 blue","10 green, 8 blue, 1 red","2 green, 18 blue, 2 red","14 blue, 3 green, 1 red","2 blue, 2 red, 6 green","8 green, 1 red, 9 blue"
2,"Game 3: 6 green, 5 blue, 9 red",3,"4 blue, 1 green, 13 red","9 green, 14 red, 1 blue",None,None,"6 green, 5 blue, 9 red",None
3,"Game 4: 14 green, 3 blue, 16 red",4,20 red,"4 green, 2 red, 1 blue","10 blue, 11 green, 18 red","3 red, 3 blue, 6 green","14 green, 3 blue, 16 red","2 green, 18 red, 9 blue"
4,"Game 5: 5 green, 4 blue",5,"1 red, 3 blue, 2 green","4 green, 2 red, 15 blue","11 blue, 8 green, 4 red","4 red, 3 green","5 green, 4 blue","4 red, 3 green, 7 blue"
...,...,...,...,...,...,...,...,...
95,"Game 96: 2 blue, 1 red, 6 green",96,"7 blue, 8 green","1 red, 7 green","2 green, 14 blue, 1 red","3 blue, 1 red, 7 green","2 blue, 1 red, 6 green","4 blue, 11 green"
96,"Game 97: 2 red, 9 blue, 8 green",97,"3 green, 5 blue","6 green, 1 red, 9 blue","2 red, 13 green, 1 blue","2 green, 2 red, 2 blue","2 red, 9 blue, 8 green",None
97,"Game 98: 2 blue, 1 green, 1 red",98,"4 blue, 5 red, 1 green","4 blue, 3 red, 2 green",None,None,"2 blue, 1 green, 1 red",None
98,"Game 99: 17 red, 2 blue, 4 green",99,"4 green, 8 red, 6 blue",5 red,None,None,"17 red, 2 blue, 4 green",None
99,"Game 100: 6 red, 4 green",100,"3 red, 2 blue, 9 green","1 blue, 5 green, 14 red","1 blue, 2 red, 2 green","9 red, 1 blue, 14 green","6 red, 4 green","2 blue, 11 green, 8 red"

In [36]:
ID_list = rec_pd['IDs'].to_numpy()

pull1 = rec_pd[1].to_numpy(na_value='0')
pull2 = rec_pd[2].to_numpy(na_value='0')
pull3 = rec_pd[3].to_numpy(na_value='0')
pull4 = rec_pd[4].to_numpy(na_value='0')
pull5 = rec_pd[5].to_numpy(na_value='0')
pull6 = rec_pd['6'].to_numpy(na_value='0')

In [ ]:
rlim = 12 # total red cubes
glim = 13 # total green cubes
blim = 14 # total blue cubes